<section class="about">
    <div class="about__container">
        <h1 class="about__title">About</h1>
        <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, animi! Aperiam eveniet earum at eius animi! Facilis aspernatur hic dolores.</p>
    </div>
</section>