<nav>Navegation</nav>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam culpa ut perspiciatis blanditiis quasi tempora sint esse velit ab consequatur animi qui, ipsam maxime libero sequi nulla mollitia, adipisci delectus?</p>
<footer>Footer</footer>