<section class="home__container">
    <h1 class="home__title">Notes App NodeJS and MongoDB</h1>
    <p class="home__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ipsum laudantium repellendus minima dolor distinctio.</p>
    <p class="home__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde veniam provident error perferendis aliquam labore optio eius possimus sapiente consequuntur.</p>
    <a class="home__button" href="https://www.faztweb.com">FaztWeb</a>
</section>