* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #1488cc;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 50px;
    display: grid;
    align-items: center;
    background-color: rgb(65, 65, 65);
}

.nav .nav-container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav__left .nav__left-list,
.nav__right .nav__right-list {
    display: flex;
    gap: 20px;
}

.nav__right .nav__right-list {
    padding-right: 50px;
    justify-content: flex-end;
}

.nav__left .nav__left-list {
    padding: 0 0 0 50px;
}

.nav__right .nav__right-list {
    padding: 0 50px 0 0;
}

.nav .nav__list-item {
    color: #979797;
}

.nav .nav__logo {
    font-size: 1.8rem;
    color: #ffffff;
}

.nav .nav__list-item:hover {
    color: #ffffff;
}

.main {
    width: 85%;
    margin: 0 auto;
}

.main .home__container {
    width: 85%;
    margin: 70px auto;
    padding: 60px 20px;
    background-color: #f1ecec;
}

.home__container .home__title {
    font-size: 3.8rem;
}

.home__container .home__text {
    margin: 20px 0;
}

.home__container .home__button {
    padding: 8px 15px;
    font-size: 1.4rem;
    color: #f6f5f5;
    background-color: rgb(87, 87, 238);
}

.main .about {
    width: 85%;
    margin: 50px auto;
    background-color: #ffffff;
}

.about .about__container {
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #f1ecec;
}

.about .about__title {
    margin: 0 0 10px 0;
    font-size: 3.8rem;
}

.card-edit-section {
    width: 85%;
    margin: 30px auto;
    display: grid;
    justify-items: center;
}

.card-edit-section .card__container {
    width: 200px;
    height: 250px;
    display: grid;
    grid-template-rows: 60px 190px;
    place-items: center;
    background-color: #ffffff;
}

.card__container .card__title {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #d1cfcf;
}

.card__container .card__body {
    width: 100%;
    height: 100%;
}

.card__body .card__form {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
}

.card__form .card__form-text {
    width: 85%;
    height: 70%;
    padding: 0 10px;
    align-self: end;
    border: 1px solid #d1cfcf;
}

.card__form .card__form-textarea {
    width: 85%;
    height: 75%;
    padding: 5px 10px;
}

.card__form .card__form-button {
    width: 85%;
    height: 60%;
    align-self: start;
    color: #ffffff;
    border: 1px solid #0a8cd7;
    background-color: #0a8cd7;
    border-radius: 2px;
}
