<nav class="nav">
    <div class="nav-container">
        <div class="nav__left">
            <ul class="nav__left-list">
                <li><a class="nav__logo nav__list-item" href="">Notes App</a></li>
                <li><a class="nav__list-item" href="">Home</a></li>
                <li><a class="nav__list-item" href="">About</a></li>
            </ul>
        </div>
        <div class="nav__right">
            <ul class="nav__right-list">
                <li><a class="nav__list-item" href="">Login</a></li>
                <li><a class="nav__list-item" href="">Register</a></li>
            </ul>
        </div>
    </div>
</nav>