<section class="notes">
    <div class="notes__container">
        {{#each notes}}    
        <article class="note-card">
            <h4 class="note__title">{{title}}<a href="/notes/edit/{{_id}}">Edit</a></h4>
            <p class="note__description">{{description}}</p>
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="note__button" type="submit">Delete</button>
            </form>
        </article>
        {{/each}}
    </div>
</section>