<section class="user">
    <div class="user__form-container--signup">
        <h3 class="user__title">Account Register</h3>
        <form class="user__form" action="/users/signup" method="POST">
            <input class="form__item" type="text" name="name" placeholder="Name">
            <input class="form__item" type="email" name="email" placeholder="Email">
            <input class="form__item" type="password" name="password" placeholder="Password">
            <input class="form__item" type="password" name="confirm-password" placeholder="Confirm Password">
            <button class="form__button">Signup</button>
        </form>
    </div>
</section>
